# Basic kernel hardening options (specific to x86)

# Modern libc no longer needs a fixed-position mapping in userspace, remove
# it as a possible target.
CONFIG_LEGACY_VSYSCALL_NONE=y

# Enable chip-specific IOMMU support.
CONFIG_INTEL_IOMMU=y
CONFIG_INTEL_IOMMU_DEFAULT_ON=y
CONFIG_INTEL_IOMMU_SVM=y
CONFIG_AMD_IOMMU=y

# Enforce CET Indirect Branch Tracking in the kernel.
CONFIG_X86_KERNEL_IBT=y

# Enable Kernel Control Flow Integrity (currently Clang only), but disable
# weaker FINEIBT landing pads.
CONFIG_CFI_CLANG=y
# CONFIG_CFI_PERMISSIVE is not set
# CONFIG_FINEIBT is not set

# Enable CET Shadow Stack for userspace.
CONFIG_X86_USER_SHADOW_STACK=y
